/* styles.css */

/* Body */
body {
    display: flex;
    flex-direction: column;
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    height: auto;
    width:  100%; /* Take the entire width of the screen */
    flex: auto;
}

/* Article */
article {
    flex: 2; /* Takes up 2/3 of the width */
    overflow-y: auto;
}

/* Aside */
aside {
    flex: 1; /* Takes up 1/3 of the width */
    overflow-y: auto;
    order: 1; /* Move aside to the right */
}

/* Header */
header {
    width: 100%; /* Take the entire width of the screen */
    padding: 20px 0;
    height: 80px;
}

/* Footer */
footer {
    width: 100%; /* Take the entire width of the screen */
    padding: 12px;
    border-top: 1px solid lightgray;
}

